<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="views/index.html"/>
        <add value="views/index.html"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".json" />
          <add fileExtension=".json" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>