<div class="" data-ng-controller="IndexKerberoCtrl">
    <div class="box">
        <div class="box-header">
            <span class="title">Sistema de Seguridad</span>
        </div>
        <div class="box-content padded">
            <div class="row">
                <div class="col-md-4">
                    <h4><i class="icon-laptop"></i> Sistemas</h4>
                    Utilice esta opción para consultar y registrar nuevos sistemas de FMV.
                </div>
                <div class="col-md-4">
                    <h4><i class="icon-key"></i> Permisos</h4>
                    Utilice esta opción para consultar y asignar nuevos permisos a un sistema.
                </div>
                <div class="col-md-4">
                    <h4><i class="icon-list"></i> Parámetros</h4>
                    Utilice esta opción para crear y modificar parámetros de Cerbero.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4><i class="icon-group"></i> Perfiles</h4>
                    Utilice esta opción para consultar y crear nuevos perfiles de sistema.
                </div>
                <div class="col-md-4">
                    <h4><i class="icon-user"></i> Usuarios</h4>
                    Utilice esta opción para consultar y crear nuevos usuarios,
                </div>
                <div class="col-md-4">
                    <h4><i class="icon-eye-open"></i> Auditoría</h4>
                    Utilice esta opción para consultar el log de eventos de Cerbero.
                </div>
            </div>
        </div>
    </div>
</div>