<ul class="list-inline pull-right sparkline-box">
    <li class="sparkline-row">
        <h4 class="blue"><span>Orders</span> 847</h4>
        <div class="sparkline big" data-color="blue"><!--22,16,13,20,16,18,12,25,21,21,25,16--></div>
    </li>
    <li class="sparkline-row">
        <h4 class="green"><span>Reviews</span> 223</h4>
        <div class="sparkline big" data-color="green"><!--19,14,28,17,5,19,19,3,7,6,4,12--></div>
    </li>
    <li class="sparkline-row">
        <h4 class="red"><span>New visits</span> 7930</h4>
        <div class="sparkline big"><!--22,16,13,20,16,18,12,25,21,21,25,16--></div>
    </li>
</ul>