<div data-ng-controller="BuscarPerfilCtrl">
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <span class="title"><i class="icon-search"></i>  Búsqueda de Perfiles</span>
                <ul class="box-toolbar">
                    <li class="toolbar-link" ng-show="muestraCrear">
                        <a ui-sref="common.perfiles.crear">
                        <i class="status-info icon-edit"></i> Crear Perfil
                        </a>
                    </li>
                </ul>
            </div>
            <div class="box-content">
                <form class="form-horizontal fill-up validatable">
                    <div class="padded">
                        <div class="form-group">
                            <label class="control-label col-lg-1">Sistema :</label>
                            <div class="col-lg-3">
                                <select class="chzn-select form-control input-sm" ng-model="idSistema">
                                    <option value="{{sistema.Id}}" ng-repeat="sistema in sistemas" >{{sistema.Nombre}}</option>
                                </select>
                            </div>
                        <!--/div>
                        <div class="form-group"-->
                            <label class="control-label col-lg-1">Nombre :</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control input-sm" data-prompt-position="topLeft" ng-model="nombreBus" uppercase-only/>
                            </div>
                        <!--/div>
                        <div class="form-group"-->
                            <label class="control-label col-lg-1">Estado :</label>
                            <div class="col-lg-2">
                                <select class="chzn-select form-control input-sm" ng-model="estadoBus">
                                    <option value="0,-1">TODOS</option>
                                    <option value="0">ACTIVO</option>
                                    <option value="-1">BLOQUEADO</option>
                                </select>
                            </div>
                            <div class="col-lg-1" style="text-align:right;">
                                <button type="button" class="btn btn-blue" ng-click="busquedaPerfil()" ng-disabled = "existenSistemas">Buscar</button>
                            </div>
                        </div>
                    </div>
                    <!--div class="form-actions" style="text-align:right;">
                        <button type="button" class="btn btn-blue" ng-click="busquedaPerfil()" ng-disabled = "existenSistemas">Buscar</button>
                    </div-->
                </form>
            </div>
        </div>
    </div>
</div>

    <three-bounce-spinner ng-show="loading"></three-bounce-spinner>

    <div ng-repeat="alert in alerts" class="alert" ng-class="'alert-' + (alert.type || 'warning')">
        <button type="button" class="close" ng-click="closeErrorAlert($index)">×</button>
        <span ng-bind="alert.msg"></span>
    </div>

<div class="row-fluid" ng-show="busquedaResult">
    <div class="span12" ng-show="haveResult">
        <div class="box">
            <!--div class="box-header">
                <span class="title">Perfiles</span>
            </div-->
            <div class="box-content">
                <div id="dataTables">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" cellpadding="0" cellspacing="0" border="0" class="row-border hover" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th width="3%" ng-show="ActionMultiple">
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-check"></i></button>
                                    <ul class="dropdown-menu">
                                        <li ng-show="muestraActBloq"><a data-toggle="modal" data-ng-click="getValue('Activar')" value="Get"><i class="icon-ok"></i> Activar</a></li>
                                        <li ng-show="muestraActBloq"><a data-toggle="modal" data-ng-click="getValue('Bloquear')" value="Get"><i class="icon-ban-circle"></i> Bloquear</a></li>
                                        <li ng-show="muestraEliminar" class="divider"></li>
                                        <li ng-show="muestraEliminar"><a data-toggle="modal" data-ng-click="getValue('Eliminar')" value="Get"><i class="icon-trash"></i> Eliminar</a></li>
                                    </ul>
                                </div>
                            </th>
                            <th width="3%"></th>
                            <th width="7%" align ="center"><div>ID </div></th>
                            <th width="20%"><div>Código</div></th>
                            <th width="25%"><div>Nombre</div></th>
                            <th width="22%" align ="center"><div>Estado</div></th>
                            <th width="20%" align ="center"><div>Fecha de Registro</div></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="perfil in result">
                            <td></td>
                            <td ng-show="ActionMultiple"><input type="checkbox" class="icheck" id="chkPerfil_{{perfil.Id}}" ng-model="perfil.selected"></td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a data-toggle="modal" data-ng-click="openConsultaModal(perfil.Id)"><i class="icon-eye-open"></i> Ver Detalle</a></li>
                                        <li ng-show="muestraActBloq"><a data-toggle="modal" data-ng-click="openUniModal(perfil.Id, getOption(perfil.Estado).nombre)" ><i class="{{getOption(perfil.Estado).icon}}"></i> {{getOption(perfil.Estado).nombre}}</a></li>
                                        <li ng-show="muestraEditar"><a ui-sref="common.perfiles.editar({idPerfil: '{{perfil.Id}}'})"><i class="icon-edit"></i> Editar</a></li>
                                        <li ng-show="muestraEliminar" class="divider"></li>
                                        <li ng-show="muestraEliminar"><a data-toggle="modal" data-ng-click="openUniModal(perfil.Id, 'Eliminar')"><i ng-click="" class="icon-trash"></i> Eliminar</a></li> <!--data-toggle="modal" ng-href="#modal-eliminar"-->
                                    </ul>
                                </div>
                            </td>
                            <td align ="center">{{perfil.Id}}</td>
                            <td><a data-toggle="modal" data-ng-click="openConsultaModal(perfil.Id)">{{perfil.Codigo}}</a></td>
                            <td>{{perfil.Nombre}}</td>
                            <td align ="center">{{ getEstado(perfil.Estado)}}</td>
                            <td align ="center">{{perfil.FechaCreacion}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



    <div ng-include src="'templates/Modales/ModalEliminar.html'" data-access-level='accessLevels.common'></div>
    <div ng-include src="'templates/Modales/ModalActivar.html'" data-access-level='accessLevels.common'></div>
    <div ng-include src="'templates/Modales/ModalBloquear.html'" data-access-level='accessLevels.common'></div>
    <div ng-include src="'templates/Modales/ModalConsultaPerfil.html'" data-access-level='accessLevels.common'></div>

</div>